@media screen and (width <=870px) {
    header {
        padding: 15px 60px;
    }

    .logo img {
        width: 100px;
        /* width: 1vw; */
        height: 30px;
    }

    .btn button {
        padding: 6px 6px;
        font-size: 1.6vw;
        border-radius: 9px;
    }

    .list-items ul {
        gap: 20px;
    }

    ul li {
        font-size: 1.1vw;
        font-weight: bold;
    }

    .list-news {
        padding: 8px 13px;
    }

    /* article section begin */
    .article-1,
    .article-2 {
        padding-left: 60px;
    }

    .technology {
        padding: 80px 70px 30px;
    }

    .technology-1 {
        align-items: center;
        transform: translateY(6px);
    }

    .technology-1 img {
        width: 10vw;
        height: auto;
    }

    .technology-2 a {
        font-size: 2vw;
        padding: 4px;
    }

    .technology-2 {
        line-height: 4;
    }

    .technology-2 h2 {
        font-size: 4vw;
        line-height: 1;
    }

    .technology-2 p {
        font-size: 1.9vw;
        margin-top: 5px;
        letter-spacing: 0px;
    }

    .technology-2 p:nth-child(2) {
        font-size: 1.2vw;

    }

    /* three boxes */
    .three-items {
        padding: 30px 70px 70px;
    }

    .item-1 div img,
    .item-2 div img,
    .item-3 div img {
        width: 1.3vw;
    }

    .item-1-heading h4,
    .item-2-heading h4,
    .item-3-heading h4 {
        font-size: 1.7vw;
        width: 90%;
    }

    .item-1,
    .item-2,
    .item-3 {
        padding: 5px;
    }

    .item-1 p,
    .item-2 p,
    .item-3 p {
        font-size: 1vw;
        letter-spacing: 0px;
    }

    footer {
        padding: 50px 60px;
    }

    .footer-list-5 {
        justify-content: center;
    }

    .news {
        padding: 2px 2px;
    }

    .footer-list-5 ul li .footer2-btn {
        padding: 5px 8px;
        /* width: 299px; */
        width: auto;
        font-size: 1vw;
    }

    /* projects section begin */
    .projects-heading {
        padding: 4vw 5vw 0 70px;
    }

    .projects {
        /* padding-bottom: max(.1vw, .1vw); */
        padding: 60px 70px 0px 70px;
        /* border: 1px solid red; */
        padding-top: 4vw;
    }

    .projects-1-content h3,
    .projects-2-content h3,
    .projects-3-content h3 {
        font-size: 1.4vw;
        line-height: 1.2;
        font-weight: 0;
    }


    .projects-1-content p,
    .projects-2-content p,
    .projects-3-content p {
        font-size: 1.2vw;
    }

    .projects-3-content:not(.projects-3-icons) {
        line-height: 5;
        box-sizing: border-box;
    }

    .projects-3-icons {
        /* margin-bottom: 20px; */
        transform: translateY(-10px);
    }
}

@media screen and (width <=700px) {
    .technology {
        padding-bottom: 100px;
    }

    .technology-2 p:nth-child(2) {
        font-size: 2vw;
    }

    .three-items {
        padding: 20px 70px 100px;
        display: flex;
        place-content: center;
    }

    .three-content-items {
        display: grid;
        gap: 10px;
        grid-template-rows: 100% 100% 100%;
        grid-template-columns: auto;
        padding: 20px 10px;
        place-content: center;
        width: 100%;
        /* padding:auto ; */

    }

    .item-1,
    .item-2,
    .item-3 {
        padding: 10px 10px;
        /* width: 100%; */

    }


    .item-1-heading h4,
    .item-2-heading h4,
    .item-3-heading h4 {
        font-size: 3vw;
        width: 90%;
    }

    .item-1-heading div img,
    .item-2-heading div img,
    .item-3-heading div img {
        width: 2vw;
    }

    .item-1-heading div,
    .item-2-heading div,
    .item-3-heading div {
        width: 4vw;
        height: 4vw;
    }

    .item-1 p,
    .item-2 p,
    .item-3 p {
        font-size: 2vw;
    }

    .projects-heading {
        padding: 5vw 9vw 0 60px;
    }

    .projects-heading h3 {
        font-size: 3vw;
    }

    .projects-heading a {
        padding: 3vw;
        font-size: 3vw;
    }

    .projects-heading a img {
        width: 3vw;
    }

    .projects {
        padding: 60px 60px;
        padding-top: 5vw;
        /* border: 1px solid red; */
        height: auto;

    }

    .projects-1,
    .projects-2,
    .projects-3 {
        width: 100%;

    }

    .projects-subscription-2 {
        margin-right: 1vw;
    }

    .projects-r {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;

    }

    .primary-images {
        min-width: 100%;
    }

    .projects-1-img,
    .projects-2-img,
    .projects-3-img {
        width: 100%;
    }

    .projects-1-imgage {
        height: 37vw;
    }

    .projects-1-content {
        width: 100%;
    }

    .projects-1-content h3,
    .projects-2-content h3,
    .projects-3-content h3 {
        font-size: 3vw;
        width: 100%;
    }

    .projects-1-content p,
    .projects-2-content p,
    .projects-3-content p {
        font-size: 2.5vw;
    }

    .projects-2 {
        margin-left: 0;
    }

    .projects-1-icons {
        width: 100%;
    }

    .projects-subscription-likes img,
    .projects-subscription-comments img,
    .projects-subscription-likes-2 img,
    .projects-subscription-comments-2 img,
    .projects-subscription-likes-3 img,
    .projects-subscription-comments-3 img {
        width: 3vw;
    }

    .projects-subscription-likes p,
    .projects-subscription-comments p,
    .projects-subscription-likes-2 p,
    .projects-subscription-comments-2 p,
    .projects-subscription-likes-3 p,
    .projects-subscription-comments-3 p {
        font-size: 2.5vw;
    }

    .projects-subscription-2,
    .projects-subscription-22,
    .projects.subscription-32 {
        font-size: 2vw;
    }

    .projects-subscription-32 p {
        font-size: 2vw;
    }

    .projects-subscription-32 img {
        width: 2vw;
    }

    .projects-subscription-2 img,
    .projects-subscription-22 img,
    .projects.subscription-32 img {
        width: 2vw;
    }


}

@media screen and (width <=650px) {
    header {
        padding: 15px 40px;
    }

    .logo img {
        width: 70px;
        height: 20px;
    }

    ul li {
        font-size:1.4vw;
    }
     
    .list-news {
        padding: 5px 11px;
    }
    /* hero section begin */
    .hero{
        height: 39vh;
    }
    .hero img{
        height: 100%;
        object-fit:cover ;
        width: 100%;
    }
    .hero h1{
        font-size: 7vw;
        text-align: center;
    }
    .default-img{
        display: none;
    }
    .media{
        display: block;
    }
    /* .article section begin */
    article {
        display: flex;
        flex-direction: column-reverse;
    }

    .sub-article {
        width: 100%;
    }

    .sub-article * P {
        font-size: 3.3vw;
    }

    .article-1 {
        padding: 9vw 4.6vw 9vw 40px;
    }

    .article-1 h3 {
        font-size: 4.5vw;
        font-weight: 200;

        padding-bottom: 2.5vw;
    }

    .article-2 {
        padding: 9vw 4.6vw 9vw 40px;
    }

    .article-2 h3 {
        font-size: 4.5vw;
        font-weight: 200;
        line-height: 1.5;

        padding-bottom: 5vw;
    }

    .sub-article-2 {
        width: 100%;
    }

    .article-2 p {
        padding-bottom: 6vw;
    }

    .article-2 .hidden div h3 {
        padding-bottom: 2vw;
    }

    .article-2 .hidden p {
        color: var(--primary-color);
    }

    .article-2 .hidden p::after {
        height: 70%;
        opacity: 0.4;
    }
    .article-2 .hidden{
        position: relative;
    }
    .article-2 .hidden::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 43%;
        bottom: 0;
        opacity: 0.5;
        left: 0;
        /* filter: ; */
        background: var(--Dark-08, #141414);
        z-index:1;
    }

    .article-2 .hidden p::before {
        height: 20%;
        opacity: 0.7;
    }

    .article-para {
        display: none;
    }

    .article-2 div a {
        padding: 2.7vw;
        padding-bottom: 3vw;
        padding-left: 3.4;
        padding-right: 4.8vw;
        font-size: 3vw;
    }

    .article-2 div a img {
        width: 3.5vw;
        transform: translate(1vw, 1vw);
    }

    .article-2 .article-btn {
        transform: translate(27vw, -7.5vw);
    }
    
    .article-views{
        display: flex;
        justify-content: center;
        padding: 4vw 0;
        gap: 2vw;
    }
    
    .article-views a{
        font-size: 2.9vw;
        padding: 0vw 3.7vw;
        padding-bottom: 2vw;
        
        border-radius: 4vw;
        
    }
    .article-views img{
        width: 5vw;
        transform: translateY(1.4vw);
    }
    .article-list{
        padding: 4.6vw 1.5vw 6.9vw 6.5vw;

    }
    table{
        font-size: 3vw;
        width: 100%;
        padding: 5vw 0 0vw;
    }
    .row-2{
        padding-top: 2vw;
    }
    table th{
        font-weight: 100;
    }
    .row{
        padding-right: 18vw;
    }
    .column{
        padding-right: 5px;
        padding-right: 12vw;
        text-align: center;
    }
     .column-1{
        padding-left: 12.2vw;
     }
    .article-list h3{
        font-size: 4vw;
        margin-top: 7vw;
        margin-bottom: 2vw;
    }
    .article-list-items{
        width: 95%;
    }
    .article-list-items ul{
        padding: .7vw 0vw 4.5vw  8vw;
    }
    .article-list-items ul li{
        font-size: 3.4vw;
        padding-top: 3.5vw;
        font-weight: 100;
    }
    /* .article section End */
    .projects-heading {
        padding: 6vw 9vw 0 40px;
    }

    .projects {
        padding: 6.2vw 40px;
    }

    .technology {
        padding: 30px 40px 20px;
        flex-direction: column;
        position: relative;
        gap: 0;
    }

    .technology-1 img {
        width: 18vw;
        height: auto;
    }

    .technology-2 {
        width: 90%;
        /* height: 100px; */

    }

    .technology-2 a {
        position: relative;
        top: -110px;
        left: 35%;
        /* border: 1px solid red; */
        font-size: 3vw;
        padding: 5px 5px;

        /* height: unset; */
    }

    .technology-2 p:nth-child(2) {
        font-size: 2vw;
    }

    .technology-2 .tech-hp {
        /* line-height: 1.8px; */
        transform: translateY(-60px)
    }

    .technology-2 h2 {
        font-size: 6vw;
        line-height: 1;
    }

    .technology-2 p {
        font-size: 2.4vw;
        transform: translateY(10px);
    }

    .three-content-items {
        padding: 10px;
        width: 100%;
    }

    .three-items {
        padding: 20px 40px 80px;
    }

    .item-1-heading div,
    .item-2-heading div,
    .item-3-heading div {
        width: 6vw;
        height: 6vw;
    }

    .item-1-heading div img,
    .item-2-heading div img,
    .item-3-heading div img {
        width: 3.5vw;
    }

    .item-1,
    .item-2,
    .item-3 {
        padding: 5vw;

    }

    .item-1 .item-1-heading,
    .item-2 .item-2-heading,
    .item-3 .item-3-heading {
        font-size: 7vw;
    }

    footer {
        padding: 40px 40px;
    }

    .footer-list-5 {
        width: 100%;
    }

    .footer-list-1 ul li,
    .footer-list-2 ul li,
    .footer-list-3 ul li,
    .footer-list-4 ul li {
        font-size: 1.5vw;
    }

    .footer-list-5 ul li {
        font-size: 22px;
        width: auto;
        padding: 4px 15px;
    }

    .footer-list-5 ul {
        display: grid;
        /* flex-wrap: wrap; */
        grid-template-columns: auto auto auto;
    }
}

@media screen and (width < 450px) {
    header {
        padding: 15px 20px;
    }

    .logo img {
        width: 50px;
        height: 15px;
    }

    ul li {
        font-weight: unset;
        font-size: 1.4vw;
    }
    .article-1 {
        padding: 9vw 4.6vw 9vw 20px;
    }
    .article-2 {
        padding: 9vw 5vw 9vw 20px;
    }
    .projects-heading {
        padding: 8vw 8vw 0 20px;
    }

    .projects-heading h3 {
        font-size: 4vw;
    }

    .projects-heading a {
        padding: 3vw;
        font-size: 3vw;
    }

    .projects-heading a img {
        width: 3.4vw;
    }

    .projects {
        padding: 8vw 20px;
    }

    .projects-1,
    .projects-2,
    .projects-3 {
        height: 75vw;
    }

    /*  */
    .technology-1 img {
        width: 22vw;
    }

    .technology-2 a {
        font-size: 3vw;
    }

    .technology-2 p {
        font-size: 3vw;
    }

    .technology-2 p:nth-child(2) {
        font-size: 2.7vw;
    }

    .three-items {
        padding: 0px 20px 60px;
    }

    .three-content-items {
        padding: 10px 10px;
        width: 100%;
    }

    .item-1-heading h4,
    .item-2-heading h4,
    .item-3-heading h4 {
        font-size: 4vw;
        width: 90%;
    }

    .item-1 p,
    .item-2 p,
    .item-3 p {
        font-size: 2.7vw;

    }

    /*  */
    footer {
        padding: 60px 20px;
    }

    .footer-list-5 {
        display: grid;
        /* grid-template-rows:auto auto; */
    }

    .footer-list-5 ul li .footer2-btn:last-child {
        grid-column: 4000px;
    }

    .footer-list-5 ul li .footer2-btn {
        font-size: 3vw;
        /* width: 10px; */
    }

    .footer2-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    /* .footer6-btn{
            width: 200px;
        } */
    .footer-list-5 ul li .footer2-btn img {
        width: 4vw;
        margin-bottom: 5px;
    }

    .footer3-btn {
        width: 5vw;
    }

    .footer-list {
        flex-wrap: wrap;
    }

    .footer-lists .footer-list-1,
    .footer-lists .footer-list-2,
    .footer-lists .footer-list-3,
    .footer-lists .footer-list-4 {
        width: 140px;
    }

    .news {
        padding: 0px 0px;
        font-size: 5px;
        text-align: center;
    }

    .footer-list-1 ul li,
    .footer-list-2 ul li,
    .footer-list-3 ul li,
    .footer-list-4 ul li {
        font-size: 3vw;
        width: 100%;
    }

    .footer2-btn {
        width: 100px;
    }

    .fo-btn {
        font-size: 2vw;
    }

    .last {
        width: 100px;
    }
}